:root {
  --main-color: #647bff;
  --body-color: #090a1a;
  --container-color: #171b3c;
  --heading-color: #222231;
  --box-color: #0d0f26;
  --bg-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/*Navbar section*/

.nav-container {
  max-width: 100%;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  z-index: 100;
}

.header-active {
  background: var(--box-color);
  transition: 0.4s;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--heading-color);
  padding-left: 2rem;
}
.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding-right: 2rem;
}
.nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  color: var(--heading-color);
}

.nav-link:hover {
  color: var(--bg-color);
  background: var(--container-color);
  transition: 0.3s all linear;
}

/*Landing page*/

.home {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 2rem;
  max-width: 1750px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.home-img {
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.home-text {
  width: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-text h1 {
  font-size: 3.5rem;
}
.home-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.home-text span {
  font-weight: 1000;
}

.home-text .color {
  color: var(--main-color);
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: var(--bg-color);
  background: var(--container-color);
}
.social .bx:hover {
  background: var(--main-color);
  transition: 0.3s all linear;
}

.teamlink {
  border: none;
  padding-top: 15px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: var(--container-color);
  color: var(--bg-color);
}

.teamlink:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

/*Meet the team section */

#about {
  padding-top: 5rem;
}

.section-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 100;
}

.meet-the-team {
  max-width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-left: 31%;
  margin-top: 10px;
}

.team-column {
  float: left;
  width: 21rem;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.team-container {
  padding: 0 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1rem;
}

.team-container::after,
.team-row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.github-link {
  border-radius: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  color: white;
  background-color: var(--container-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.github-link:hover {
  background-color: var(--main-color);
}

.github-link a {
  font-size: 1rem;
}

.avatar {
  margin-top: 10px;
  margin-left: 20%;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Gallery Section*/
.project-container {
  max-width: 1500px;
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-left: 13rem;
}

.section-project {
  margin-block: 20px 20px;
}

.project-card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  display: inline-block;
}

.project-card .card-banner img {
  border-radius: 25px;
  transition: var(--transition-2);
  width: 650px;
  height: 429px;
  object-fit: cover;
}

.project-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.description {
  max-width: 400px;
  width: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  margin: auto;
  margin-top: -225px;
  margin-left: 4%;
  background-color: hsl(47, 100%, 69%);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  opacity: 0;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-card:is(:hover, :focus-within) .description {
  opacity: 1;
  transform: translateY(-50%);
}

.play {
  border: none;
  padding: 0 20px;
  border-radius: 20px;
  max-width: 500px;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  background-color: var(--container-color);
  color: var(--bg-color);
}

.play:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

/* Contact us form*/

.section-contact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  border-color: rgb(33, 20, 55);
  border-style: solid;
  margin: 40px;
  padding: 10px;
  color: rgb(33, 20, 55);
  line-height: 30px;
}
input {
  display: block;
  margin: 0 auto;
}

textarea {
  display: block;
  margin: 0 auto;
}
.submit {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  padding: 10px;
}
input.radio {
  display: inline;
  margin: 0 auto;
}

/*Media Queries*/
@media (max-width: 800px) {
  .project-container {
    display: block;
    margin-left: 11%;
  }
}
